*.ipynb filter=lfs diff=lfs merge=lfs -text
but filter=lfs diff=lfs merge=lfs -text
recommended filter=lfs diff=lfs merge=lfs -text
for filter=lfs diff=lfs merge=lfs -text
big filter=lfs diff=lfs merge=lfs -text
FASTA filter=lfs diff=lfs merge=lfs -text
*.fasta filter=lfs diff=lfs merge=lfs -text
:: filter=lfs diff=lfs merge=lfs -text
optional filter=lfs diff=lfs merge=lfs -text
HMMR.ipynb filter=lfs diff=lfs merge=lfs -text
HMMR_RE/results/hmmscan_uniprot_first_*.log filter=lfs diff=lfs merge=lfs -text
HMMR_RE/trees_nohit_og/nohit_plus_og.distmat.txt filter=lfs diff=lfs merge=lfs -text
